###1. printing on the console

In [1]:
print("hello world")

hello world

In [2]:
print('my name is satyam kumar')

my name is satyam kumar

In [7]:
# if we neeed to print something large on screen
print('my name is satyam \
kumar currently b.tech 2nd year \
student at kiit university')

my name is satyam kumar currently b.tech 2nd year student at kiit university

In [8]:
# if we neeed to print something large on screen with newline
print("""my name is satyam
kumar currently b.tech 2nd year
student at kiit university""")

my name is satyam
kumar currently b.tech 2nd year
student at kiit university

### 2. Variables

In [9]:
a="buxar"
b='delhi'
print(a)
print(b)
print(a,b)

buxar
delhi
buxar delhi

### 3. Data types

In [12]:
# int,float,string,bool
a=13
type(a)

int

In [14]:
b=25.45
type(b)

float

In [17]:
date='2024-05-24'
type(date)

str

In [16]:
name="satyam"
type(name)

str

### 4.Input from users

In [19]:
age=int(input("enter your age :-"))
weight=float(input("enter your weight :-"))
name=input("enter your name :-")
print(age)
print(weight)
print(name)

enter your age :-20
enter your weight :-48.5
enter your name :-satyam
20
48.5
satyam

### 5.comments

In [21]:
# this is example of single line comment
"""this is example of
multline comment"""
print("satyam")

satyam

### 6.formatting

In [73]:
# FORMATE
name='satyam'
last_name='kumar'
age=20
print(name+" lives in noida,up")
print(f"{name} {last_name} lives in noida,up")
print(f"{name} {last_name} lives in noida,up and his age is "+str(age) )
print("his age is "+str(age))
print(f"his age is {age} ")
print(f"{name} {last_name} lives in Noida, UP and his age is {age}")

satyam lives in noida,up
satyam kumar lives in noida,up
satyam kumar lives in noida,up and his age is 20
his age is 20
his age is 20
satyam kumar lives in Noida, UP and his age is 20

### 7.strings

In [23]:
city=input("enter the city name :- ")
print(len(city))  # accesing the length of string
print(city[0])
print(city[1])
print(city[2])

enter the city name :- buxar
5
b
u
x

In [30]:
# slicing [start:end:step] end excluded 1:6:2  :- 1,3,5 will be output
city=input("enter the city name :- ")
print(city[:3])  # slicing from start
print(city[-3:]) # slicing from end
print(city[1:4]) # slicing in a range
print(city[-1])
print(city[-2])
print(city[-3])
print(city[-4])
print(city[0:4:2])
print(city[-4:-1:2]) # end,start,step

enter the city name :- buxar
bux
xar
uxa
r
a
x
u
bx
ua

In [ ]:
# strings are immutable
"""Immutability means that after a string has been created, the individual characters within the string cannot
be altered or replaced. Instead, if you want to change or modify a string, you must create a new string based
on the modifications you want to make."""

# 8. String Methods

### **8.1. Basic String Manipulation**

In [37]:
string=input("enter the string :- ")
print(string.upper())                  #Converts all characters to uppercase.
print(string.lower())                  #Converts all characters to lowercase.
print(string.title())                  #Converts the first character of each word to uppercase.
print(string.capitalize())             #Converts the first character to uppercase and the rest to lowercase.
print(string.strip())                  #Removes leading and trailing whitespace.          " hello ".strip() ➜ "hello"
print(string.lstrip())                 #Removes leading whitespace.
print(string.rstrip())                 #Removes trailing whitespace.
print(string.replace("world","python"))#Replaces all occurrences of old with new.

enter the string :-    hello    world
   HELLO    WORLD
   hello    world
   Hello    World
   hello    world
hello    world
hello    world
   hello    world
   hello    python

In [38]:
# join(iterable):-Joins an iterable of strings with the string as separator
words = ["Python", "is", "great", "for", "data", "analysis"]
sentence = " ".join(words)
print(sentence)

Python is great for data analysis

In [42]:
# split(sep):-Splits the string into a list of substrings based on sep
email =input("enter the email is :-")
domain = email.split("@")[1]    # ["satyamkumar26en","gmail.com"] we have stored [1] index 1 element in domain
user=email.split("@")[0]
list=email.split("@")
print(user)
print(domain)
print(list)

enter the email is :-satyamkumar26en@gmail.com
satyamkumar26en
gmail.com
['satyamkumar26en', 'gmail.com']

In [65]:
# concatenate
first_name=input("enter the first name :-")
last_name=input("enter the second name :-")
name=first_name+last_name
print(name)
print("my name is " + first_name + " "+last_name +" and i am learning python")

enter the first name :-satyam
enter the second name :-kumar
satyamkumar
my name is satyam kumar and i am learning python

In [72]:
# formatting and concattenate
name=input("enter the name :- ")
age=int(input("enter the age :- "))
print(f"my name is {name} and my age is {age}")               # formatting
print("my name is "+name +" and my age is " +str(age))        # concattenate

enter the name :- satyam kumar
enter the age :- 20
my name is satyam kumar and my age is 20
my name is satyam kumar and my age is 20

## 8.2 String Inspection ,Validation and Advanced String Operations

### **Method	Description	Example**

1. startswith(prefix):-Returns True if the string starts with prefix "Python".startswith("Py") ➜ True

2. endswith(suffix):-Returns True if the string ends with suffix.
"Python".endswith("on") ➜ True

3. find(sub)	Returns the lowest index where sub is found.
"hello".find("e") ➜ 1

4. rfind(sub)	Returns the highest index where sub is found.
"hello".rfind("l") ➜ 3

5. index(sub)	Like find(), but raises an exception if sub is not found.	"hello".index("e") ➜ 1

6. isalpha()	Returns True if all characters are alphabetic.
"hello".isalpha() ➜ True

7. isdigit()	Returns True if all characters are digits.
"123".isdigit() ➜ True

8. isalnum()	Returns True if all characters are alphanumeric.
"hello123".isalnum() ➜ True

9. isspace()	Returns True if all characters are whitespace.
" ".isspace() ➜ True

10. isupper()	Returns True if all characters are uppercase.
"HELLO".isupper() ➜ True

11. islower()	Returns True if all characters are lowercase.	"hello".islower() ➜ True

12. count(sub)	Returns the number of non-overlapping occurrences of sub.	"banana".count("a") ➜ 3

13. splitlines()	Splits the string at line breaks.	"hello\nworld".splitlines() ➜ ['hello', 'world']
14.  partition(sep)	Splits the string at the first occurrence of sep.	"hello world".partition(" ") ➜ ('hello', ' ', 'world')

15. rpartition(sep)	Splits the string at the last occurrence of sep.	"hello world hello".rpartition(" ") ➜ ('hello world', ' ', 'hello')

In [43]:
# 1.startswith
text = "Data Analysis with Python"
print(text.startswith("Data"))
print(text.startswith("Python"))

True
False

In [44]:
# 2.endswith
filename = "report.csv"
print(filename.endswith(".csv"))
print(filename.endswith(".txt"))

True
False

In [45]:
# 3.find
text = "Python programming"
print(text.find("prog"))
print(text.find("xyz"))

7
-1

In [46]:
# 4.rfind
text = "abracadabra"
print(text.rfind("abra"))
print(text.rfind("cad"))

7
4

In [48]:
# 5.index
text = "Data Science"
print(text.index("Science"))  # Output: 5
#print(text.index("Python"))  # Raises ValueError

5

In [49]:
# 6.isalpha
text1 = "HelloWorld"
text2 = "Hello World123"
print(text1.isalpha())
print(text2.isalpha())

True
False

In [50]:
# 7.isdigit
number1 = "123456"
number2 = "123.456"
print(number1.isdigit())
print(number2.isdigit())

True
False

In [51]:
# 8.isalnum
text1 = "Python3"
text2 = "Python 3"
print(text1.isalnum())
print(text2.isalnum())

True
False

In [52]:
# 9.isspace
space1 = "   "
space2 = "   Python  "
print(space1.isspace())
print(space2.isspace())

True
False

In [53]:
# 10.isupper
text1 = "HELLO"
text2 = "Hello WORLD"
print(text1.isupper())
print(text2.isupper())

True
False

In [54]:
# 11. islower
text1 = "hello"
text2 = "Hello world"
print(text1.islower())
print(text2.islower())

True
False

In [55]:
# 12.count
text = "banana"
print(text.count("a"))
print(text.count("na"))

3
2

In [56]:
# 13.splitlines
text = "Hello\nWorld\nWelcome\rTo\rPython\r\nProgramming"
lines = text.splitlines()
print(lines)

['Hello', 'World', 'Welcome', 'To', 'Python', 'Programming']

In [57]:
# 14.partition
sentence = "I love Python programming"
part1, sep, part2 = sentence.partition("Python")
print(part1)
print(sep)
print(part2)

I love
Python
 programming

In [58]:
# 15.rpartition
file_path = "/path/to/my/file.txt"
directory, sep, filename = file_path.rpartition("/")
print(directory)
print(sep)
print(filename)

/path/to/my
/
file.txt