# **DAY__1__ASSIGNEMTS**

### 1.write a program which takes 2 inputs from the user : weight(kg) and height(meter) and prints the BMI in the output.

In [ ]:
x=int(input("enter the weight :-"))
y=int(input("enter the height :-"))
BMI = x/ (y*y)
print(f"the BMI of given user is {BMI}")

enter the weight :-49
enter the height :-2
the BMI of given user is 12.25

### 2.write a program which takes the name of the user as input and replace all the occurence of character 'a' in the name to 'b' and print it.

In [ ]:
x=input("enter the name :-")
y=x.replace("a","b")
print(f"the updadeted name is :- {y} ")

enter the name :-satyam
the updadeted name is :- sbtybm

### 3. write a program which takes 2 inputs from user as principle amount (int) and rate of annual interest (float) and print the expected total amount after 2 years.

In [ ]:
p=int(input("enter the principle amount :- "))
r=float(input("enter the rate of interest :- "))
t=int(input("enter the number of years :- "))
w=(p +(r*t))
print(f"Total amount after {t} is {w}")
x=(round(p*(1+(r/100))**t))
print(f"Compound total amount after {t} is {x}")

enter the principle amount :- 100
enter the rate of interest :- 12
enter the number of years :- 2
Total amount after 2 is 124.0
Compound total amount after 2 is 125

###4. write a program which takes city name from user input. irrespective of in which case user enters the city name,print the city name in camel case meaning first letter should be capital and rest in small.

In [ ]:
city=input("enter the city name :-")
city_2=city.title()
print(f"updadted city name is :- {city_2}")

enter the city name :-buxar
updadted city name is :- Buxar

### 5. write a program which takes the name of the user as input and print the index of character 'a' in the string. if 'a' is not there then return -1.

In [ ]:
name=input("enter the name :-")
x=name.find("a")
print(f"index of a is {str(x)}")

enter the name :-styam
index of a is 3

### 6. Display the number of letters in the below string my_word = "antidisestablishmentarianism"

In [ ]:
word=input("enter the word :-")
count=0
for char in word:
  if char.isalpha():  # Check if the character is alphabetic
        count += 1
print(f"number of letters in given word is :- {count}")

enter the word :-antidisestablishmentarianism
number of letters in given word is :- 28

###7.  Take 3 inputs from user : first name , last name and age . Display the information in below format
### exmaple
### first name : Mohit
### last name : Sharma
### age : 32

In [ ]:
first_name=input("enter the first name :- ")
last_name=input("enter the last name :- ")
age=int(input("enter the age :- "))
x =first_name.capitalize()
y=last_name.capitalize()
print(f"first name : {x}")
print(f"last  name : {y}")
print(f"age :{age}")

enter the first name :- satyam
enter the last name :- kumar
enter the age :- 20
first name : Satyam
last  name : Kumar
age :20

###8. Take 3 inputs from user : first name , last name and company name. create the email alias for the user and display it.Email alias is first 2 letters of first name , last 3 letters of last name and @company.com
### example
### first name : MOhit
### last name : sharma
### company : infosys
### Display : morma@infosys.com

In [ ]:
first_name=input("enter the first name :- ")
last_name=input("enter  the last name :- ")
company=input("enter the company name :-")
x=first_name[0:2].lower()
y=last_name[-3:].lower()
z=x+y
print(f"email id is : {z}@{company}.com")

enter the first name :- satyam
enter  the last name :- kumar
enter the company name :-amazon
email id is : samar@amazon.com